.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 40px;
  }

  .card {
    background-color: #D3D3D3;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
  }

  .card-content {
    font-size: 1em;
    color: #333;
  }

  .card-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  .card-button {
    background-color: #7453FA;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .card-button.subscribed {
    background-color: #6c757d; /* gris pour abonné */
  }
  
  .card-button:hover {
    opacity: 0.9;
  }

  @media (max-width: 768px) {

    .container {
      grid-template-columns: 1fr; /* une seule carte sur mobile */
    }
    
  }
  
  .btn-primary {
    background-color: #7453FA;
  }
  
  .btn-primary:hover {
    background-color: #7453FA;
  }
  
  .btn-gray {
    background-color: #6c757d;
  }
  
  .btn-gray:hover {
    background-color: #5a6268;
  }