.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 1100; /* plus que l'overlay */
}

.logo {
  height: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.custom-icon {
  font-size: 40px;
  color: rgb(171, 170, 170);
}

.navbar-right a.active {
  color: #7453FA; /* violet */
}

.navbar-right a.active .custom-icon {
  color: #7453FA;
}

.navbar-right a,
.navbar-right button {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1200; /* au-dessus du slide */
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  align-items: flex-end;
  height: 100vh;
  width: 55vw;
  max-width: 350px;
  background-color: #f8f8f8;
  box-shadow: -2px 0 5px rgba(0,0,0,0.3);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1150;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.mobile-menu a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin-bottom: 20px;
}

.mobile-menu a.red {
  color: red;
}

.navbar-right a.red {
  color: red;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu a.profile-link {
  position: fixed;
  bottom: 45px;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: bold;
  color: black;
  z-index: 1200;
}

/* Overlay semi-transparent plein écran */
.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0,0,0,0.3);
  z-index: 1100;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar-right {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}